html {
	font-size: 100%
}

nav ul li {
	display: block;
	border-top: 1px #79896d solid;
}

nav a {
    color: #f8ecc2;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

header {
    display: flex;
    flex-flow: row;
    background-color: white;
    margin: 0;
    padding: 0 10px;
		text-align: center;
}

.menu-trigger {
	order: 1;
	font-size: 1.75em;
	width: 2em;
}

nav ul {
display: none;
}

p {
  font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}

.italic {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
		text-align: center;
}

h1 {
	font-size: 2.5rem;
	text-align: center;
	font-family: 'Abril Fatface', 'Open Sans Condensed', sans-serif, Georgia;
	margin: auto;
	order:2;
}

h2 {
	font-size: 1.5rem;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";

}

body {
	background-color: rgba(255, 99, 71, 0.5);
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
}

#container {
	width: 95%;
	background-color: #ffffff;
	margin: 0 auto;
	text-align: center;
}

ul {
	list-style: none;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

#nav {
	padding: 0;
	list-style-type: none;
	letter-spacing: 3px
	}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 3px solid #ccc;
	border-top: 4px solid #ccc;
	border-right: 4px solid #ccc;
	border-left: 4px solid #ccc;
	border-style: double;
	border-color: #ccc;
	text-decoration: none;
	background-color:#ffffff
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
		width: 100%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}

#nav a:link, a:visited {
	display:block;
    color: #F08080;
    font-weight: bolder;
    text-align:center;
    text-decoration: none;
    padding: 4px;
  	font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
}

#nav a:hover, a:active {
    background-color: #b4b4b4;
}

.caption {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

#footer {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
    font-size: 0.8em;
    border-top: 1px solid black;
}

/* ul {
	color: black;
	font-family: 'Open Sans Condensed', sans-serif, Georgia, "Times New Roman";
	display: flex;
	flex-direction:
} this code will make it so that the nav bar is horzontal across the top */

.container{
display: flex;
flex-direction: column;
}

.joke {
	display: block;
}


@media screen and (min-width: 600px) {

	.container {
		flex-direction: row;
		justify-content: center;
	}
}

@media screen and (min-width: 450px) {
	.nav li {
		flex-flow: row;
		justify-content: space-between;
	}
}

@media screen and (min-width 600px) {

	#container {
		width: 80%;
	}

	.image img {
		display: block;
		width: 100%;
		margin-top: 0.5em;
	}

	.image {
		width: 25%;
		max-width: 200px;
		float: left;
		margin-right: 20px;
	}
}

@media screen and (min-width 800px) {

	.nav {
		margin-right: auto;
	}
}


@media screen and (min-width: 1000px) {
	article {
		display: grid;
		grid-template-columns: 200px 1fr 1fr;
		grid-gap: 20px;
		grid-template-areas:
		"a a b"
		". c c";
	}
	.image {
		width: 100%;
		grid-area: a;
		margin-right: 20%;
	}
	.introduction {
		grid-area: b;
	}
	.joke {
		grid-area: c;
	}
}

@media screen and (min-width 1200px) {
	article {
		display: grid;
		grid-template-columns: 200px 1fr 1fr 1fr;
		grid-gap: 20px;
		grid-template-areas:
		"a a b"
		". c c";
	}
}


@media screen and (min-width: 700px) {

	nav ul {
		display: flex;
	}

	nav ul li {
		border-top: none;
	}

	.menu-tirgger {
		display: none;
	}

	header h1 {
		order: 1;
	}

	nav {
		order: 2;
	}

}
